.slds-brand-band:before {
  background-image: url(/assets/images/themes/oneSalesforce/banner-brand-default.png),
    linear-gradient(to top, rgba(175, 197, 222, 0) 0, #1b5f9e) !important;
  z-index: 0 !important;
}

.slds-brand-band:after {
  z-index: 0 !important;
  background-image: linear-gradient(
    to bottom,
    rgba(175, 197, 222, 0) 60%,
    #afc5de
  ) !important;
}

.container {
  background: white;
  padding-top: 1.5em;
  border-radius: 5px;
}

.track-rating {
  font-size: 4em !important;
  float: right;
}

.search-song {
  z-index: 1;
}

.slds-container_large {
  background-color: white;
  z-index: 1;
}

html {
  background-color: #afc4df !important;
}
